{% include "_top.html" %}

<main class="w-full h-100vh p-items-center">

    <h2 class="text-(2rem) text-a-center py-8" md="text-(3rem)">Sign up as partner</h2>
    <form id="frm_user_signup" class="w-60% d-flex flex-col gap-4 mx-auto" md="w-40%">

        <div class="d-flex flex-col">   
            <label for="user_name" class="d-flex pb-1">
                <span>Name</span>
                <span class="ml-auto text-c-gray:+25">{{ x.USER_NAME_MIN }} to {{ x.USER_NAME_MAX }}
                    characters
                </span>
            </label>
            <input name="user_name" type="text" mix-check="{{ x.USER_NAME_REGEX }}">
        </div>

        <div class="d-flex flex-col">
            <label for="user_last_name" class="d-flex pb-1">
                <span>Last name</span>
                <span class="ml-auto text-c-gray:+25">{{ x.USER_LAST_NAME_MIN }} to {{ x.USER_LAST_NAME_MAX }}
                    characters
                </span>
            </label>
            <input name="user_last_name" type="text" mix-check="{{ x.USER_LAST_NAME_REGEX }}">
        </div>

        <div class="d-flex flex-col">
            <label for="user_email" class="pb-1">
                <span>E-mail</span>
            </label>
            <input name="user_email" type="text" mix-check="{{ x.REGEX_EMAIL }}">
        </div>

        <div class="d-flex flex-col">
            <label for="user_password" class="d-flex pb-1">
                <span>Password</span>
                <span class="ml-auto text-c-gray:+25">{{ x.USER_PASSWORD_MIN }} to {{ x.USER_PASSWORD_MAX }}
                    characters</span>
            </label>
            <input name="user_password" type="password" mix-check="{{ x.REGEX_USER_PASSWORD }}">
        </div>

        <button mix-post="/signup_partner" mix-data="#frm_user_signup"
            class="bg-c-(#00C2E8) text-c-(#EBF7FD) px-4 py-2 rounded-3">
            Sign up
        </button>
        <a href="{{url_for('view_login')}}" class="text-a-center text-c-(#202125)">Login</a>

    </form>

</main>

{% include "_bottom.html" %}