{% include "_top_logged.html" %}

    <section class="grid cols-1 ma-10" md="cols-2 mx-20" lg="cols-2 mx-40 my-20">
        <section class="pb-20" md="border-c-(#E4E4E4) border-r-2 pr-8">
            <h2 class="text-a-center text-c-(#00C2E8)">All users</h2>
            {% for user in users %}
                {% if user['role_name'] != 'admin' %}
            <div class="pb-2 pt-2 border-c-(#E4E4E4) border-b-2">
                <form id="frm_user_xblock-{{user['user_pk']}}" class="d-flex j-content-between">
                 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="d-flex a-items-center gap-5">
                        <p class="border-c-(#E4E4E4) border-r-2 pr-5">{{ user['user_email'] }}</p>
                        <p>{{ user['role_name'] }}</p>
                    </div>

                    {% if user['user_verified_at'] != 0 %}
                        {% if user['user_blocked_at'] == 0 %}
                            {% include '___btn_block_user.html' %}
                        {% else %}
                            {% include '___btn_unblock_user.html' %}
                        {% endif %}
                    {% endif %}

                </form>
            </div>
                {% endif %}
            {% endfor %}
        </section>

        <section md="pl-4">
            <h2 class="text-a-center text-c-(#00C2E8)">All items</h2>
            {% for item in items %}
            <div class="pb-2 pt-2 border-c-(#E4E4E4) border-b-2">
                <form id="frm_item_xblock-{{item['item_pk']}}" class="d-flex j-content-between">
                 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="d-flex a-items-center gap-5">
                        <p class="border-c-(#E4E4E4) border-r-2 pr-5">{{item['item_title']}}</p>
                        <p>{{ item['item_price'] }} kr.</p>
                    </div>

                    {% if item['item_blocked_at'] == 0 %}
                        {% include '___btn_block_item.html' %}
                    {% else %}
                        {% include '___btn_unblock_item.html' %}
                    {% endif %}
                </form>
            </div>
            {% endfor %}
        </section>
    </section>

{% include '_bottom.html' %}