{% include "_top.html" %}

<main class="ma-7 d-flex flex-col-reverse j-content-center a-content-center" md="flex-row j-content-start">
    <img class="w-100% px-5 py-8 a-self-center" md="w-50%" lg="w-40%" src="../static/assets/dish_landing.jpg" alt="">
    <div md="ml-20 a-self-center">
        {% if message %}
        <div class="text-c-green text-200">
            {{ message }}
        </div>
        {% endif %}

        <h1 class="text-(3rem) text-a-center" md="text-a-left">Hi!</h1>
        <h2 class="text-(2rem) text-a-center" md="text-a-left">Welcome to Viento</h2>

        <legend class="text-a-center text-(1.2rem) pb-10" md="text-a-left">Choose what role you want to sign up as here!
        </legend>
        <div id="chooseRole" class="d-flex j-content-center gap-9">
            <div class="gap-2 d-flex flex-col j-self-center">
                <a id="customer" href="/customer-signup"
                    class="bg-c-(#00C2E8) text-c-(#ffffff) px-4 py-2 rounded-3">Customer</a>
            </div>
            <div class="gap-2 d-flex flex-col j-self-center">
                <a id="partner" href="/partner-signup"
                    class="bg-c-(#00C2E8) text-c-(#ffffff) px-4 py-2 rounded-3">Partner</a>
            </div>
            <div class="gap-2 d-flex flex-col j-self-center">
                <a id="restaurant" href="/restaurant-signup"
                    class="bg-c-(#00C2E8) text-c-(#ffffff) px-4 py-2 rounded-3">Restaurant</a>
            </div>
        </div>
    </div>

</main>

{% include "_bottom.html" %}