{% include "_top.html" %}
<main class="w-full h-100vh mt-40">
    <h2 class="text-(2rem) text-a-center" md="text-(3rem)">Update your password here</h2>
    <form id="frm_set_password" class="w-25% d-flex flex-col gap-4 mx-auto">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <!-- New Password Input -->
        <div class="d-flex flex-col">
            <label for="user_password" class="d-flex"><span>New Password</span>
                <span class="ml-auto text-c-gray:+25">{{ x.USER_PASSWORD_MIN }} to {{ x.USER_PASSWORD_MAX }}
                    characters</span>
            </label>
            <input id="user_password" name="user_password" mix-check="{{ x.REGEX_USER_PASSWORD }}" type="password"
                required minlength="8" placeholder="Enter new password">
        </div>

        <!-- Confirm Password Input -->
        <div class="d-flex flex-col">
            <label for="user_repeat_password" class="d-flex">Repeat Password</label>
            <input id="user_repeat_password" name="user_repeat_password" mix-check="{{ x.REGEX_USER_PASSWORD }}"
                type="password" required minlength="8" placeholder="Repeat new password">
        </div>

        <!-- Submit Button -->
        <button mix-put="/reset-password/{{user_reset_password_key}}" 
        mix-data="#frm_set_password" 
        class="bg-c-(#00C2E8) text-c-(#EBF7FD) px-4 py-2 rounded-3 cursor-pointer">
            Update Password</button>
    </form>
</main>
{% include "_bottom.html" %}