{% include "_top_logged.html" %}

<main class="w-full">
    <h2 class="text-(2rem) text-a-center pb-5" md="text-(3rem) pb-10">Browse through all restaurants</h2>
    <section class="d-flex flex-col a-items-center" sm="flex-row a-items-start">
        <div id="map" class="w-90% h-100vh" sm="70%" md="w-50%"></div>
        <div md="mx-10" lg="mx-20">
            <section class="pb-4">
                <h3>Search through restaurants and items</h3>
                <form action="/search" method="GET">
                    <input class="w-100" type="text" name="query" placeholder="Search..." required>
                    <button class="bg-c-(#00C2E8) text-c-(#EBF7FD) px-4 py-2 rounded-3" type="submit">Search</button>
                </form>
            </section>
            <!-- The variable is passed from the app.py as "restaurants" and therefore we can loop trough it -->
            <section class="d-grid cols-2" sm="cols-2" md="cols-3">
                {% for restaurant in restaurants %}
                <div class="ma-2">
                    <a href="{{ url_for('view_restaurant_items', restaurant_id=restaurant['user_pk']) }}" class="d-block border-1 border-c-(#E4E4E4) rounded-md pa-2">
                        <div>
                            <img class="w-full h-150px obj-f-cover" src="/static/dishes/{{restaurant['item_image']}}" alt="">
                            <p class="mt-0 text-(1rem) text-c-(#202125)">
                                {{ restaurant['user_name'] }}
                            </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </section>
        </div>
    </section>
</main>

{% include "_bottom.html" %}
{% include "__map.html" %}